*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0) 25%, #341c5e) ;
    display: flex;
    justify-content: center;
    align-items: end;
    perspective: 1000px;
  }
  .floor1, .floor2, .floor3, .floor4, .floor5
  , .floor6, .floor7{
    width: 240px;
    height: 400px;
    background: #070b32;
    transform-style: preserve-3d;
    transform-origin: 50% 70%;
    transform: rotateX(70deg) rotateZ(-70deg);
    position: absolute;
  }
  
  .side{
    width: 450px;
    height: 100px;
    position: absolute;
    display: flex;
  }
  
  .front{
    transform-origin: 0% 0%;
    transform: rotateZ(90deg) rotateX(90deg) translate3d(0px, 25px, 0px);
  
  }
  .right{
      transform-origin: 0% 0%;
    transform: rotateZ(0deg) rotateX(90deg) translate3d(0px, 25px, -400px);
  }
  .back{
    transform-origin: 0% 0%;
    transform: rotateZ(90deg) rotateX(90deg) translate3d(0px, 25px, 240px); 
  }
  .left{
    transform-origin: 0% 0%;
    transform: rotateZ(0deg) rotateX(90deg) translate3d(0px, 25px, 0px);
  }
  
  .window{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    background-color: #181b38;
    background: repeating-linear-gradient(#181b38 0px 3px, black 3px 4px);
  }
  
  .color{
    background: rgba(255, 0, 64, 0.381);
  }
  .sides{
    width: 240px;
    height: 25px;
    background: #a2a2a2;
    position: absolute;
  }
  .roof{
    width: 400px;
    height: 25px;
    background: #a9a9a9;
  }
  
  .right-side{
    transform-origin: 0% 0%;
    transform: rotateX(90deg) rotateZ(0deg) translate3d(0px, 0px, -350px) ;
  }
  
  .left-side{
    transform-origin: 0% 0%;
    transform: rotateX(90deg)
    translate3d(0px, 0px ,0px);
  }
  .front-side{
    transform-origin: 0% 0%;
    transform: rotateZ(90deg)  rotateX(90deg)
    translate3d(-25px, 0px ,0px);
    
  }
  .back-side{
    transform-origin: 100% 0%;
    transform: rotateZ(-90deg) rotateX(90deg)
    translate3d(0px, 0px ,160px); 
  }
  .floor2{
    bottom: 90px;
  }
  .floor3{
    bottom: 200px;
  }
  .floor4{
    bottom: 300px;
  }
  .floor5{
    bottom: 400px;
  }
  .floor6{
    bottom: 500px;
  }
  
  .moon{
    position: absolute;
    top: 70px;
    right: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: -25px 10px 0px 8px white;
  }
  .shadow{
    position: absolute;
    top: 70px;
    right: 125px;
    width: 130px;
    height: 130px;
    background: white;
    box-shadow: 10px 10px 0px 0px white;
    filter: blur(60px);
    z-index: -3;
  }